$bg: #E8E8E8;
$btn_color: #EE9B3D;
$simple_txt: #A4A0A0;
$type: rgb(184, 181, 181);
$item_sell: #438BD3;
$place_h_color: #EFEFEF;
$borderColor: #E5E5E5;
$input_color: #4D4D4D;
$login_bg:rgb(8, 16, 31) ;
$bar_color: #AAA3A3;